table{
    border-spacing: 0;
    position: relative;
    width:100%;
    //height:calc( 100% - 60px);
    tr{
        //z-index: 2;
        //position: relative;
        //pointer-events: none;
        td,th{
            border-bottom: 1px solid #ddd;
            white-space: nowrap;
            padding:1rem .5rem;
        }
        th:not(last-child){
            border-right: 2px solid #ddd;
            padding:.5rem .5rem;
        }
        // &:last-child{
        //     td{
        //         border-bottom:none;
        //     }
        // }
    }
    thead{
        position: sticky;
        top:0;
        z-index:3;
    }
}
.popup {
    position: absolute;
    top: 20px; /* Adjust according to your layout */
    left: 50%;
    transform: translateX(-50%);
    background: rgba(0, 0, 0, 0.8);
    padding: 10px;
    border-radius: 5px;
    z-index: 1000;
}

.popup img {
    max-width: 500px; /* Set the desired maximum width for the popup image */
    max-height: 500px; /* Set the desired maximum height for the popup image */
    width: auto;
    height: auto;
}

.thumbnail {
    max-width: 50px; /* Set the desired width for the thumbnail */
    max-height: 50px; /* Set the desired height for the thumbnail */
    width: auto;
    height: auto;
    cursor: pointer;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
  }
  
  /* Modal content */
  .modal-content {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    width: 90%;
    max-width: 600px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    position: relative;
  }
  .modal-form{
    text-align: right;
    display: inline-block;
    *{
        margin-bottom: 5px;
    }

  }
  /* Close button */
  .close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    cursor: pointer;
  }